@import url('https://fonts.googleapis.com/css?family=Merriweather');

.About {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  padding: 2%;
  background-color: #eee;
  width: 50%;
  position: fixed;
  top: 25%;
  left: 23%;
}
