@import url('https://fonts.googleapis.com/css?family=Merriweather');

.Header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  font-family: 'Merriweather', serif;
  width: 90%;
  padding-top: 5%;
}

.HeaderItem {
    top: 10%;
    padding-right: 30%;
    display: inline;
    font-size: 2vw;
}

.HeaderAbout {
  top: 10%;
  display: inline;
  font-size: 2vw;
}

.HeaderAbout:hover {
    text-decoration: line-through;
}

.HeaderItem:hover {
    text-decoration: line-through;
}

.HeaderAbout:active {
    text-decoration: line-through;
}

.HeaderItem:active {
    text-decoration: line-through;
}

.MyName {
  display: inline;
  font-size: 2vw;
}

.MyName:hover {
    color: blue;
    text-decoration: line-through;
}

.MyName:active {
    color: blue;
    text-decoration: line-through;
}
