@import url('https://fonts.googleapis.com/css?family=Merriweather');

.Project {
  transition: 0.2s;
  opacity: 0.2;
  margin: 2%;
}

.ActiveProject {
  transition: 0.75s;
  opacity: 1;
  margin: 2%;
}

.ProjectContainer {
  text-align: center;
}

.ProjectTitle {
  font-style: oblique;
  font-size: 1.4vw;
}

.ProjectAbout {
  font-size: 1.4vw;
}

.ProjectDescription {
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Merriweather', serif;
  font-size: 1vw;
}

.Slideshow {
  margin-left: 25%;
  margin-right: 25%;
}

.Slide {
  width: 100%;
}
