@import url('https://fonts.googleapis.com/css?family=Merriweather');

.SoftWork {
  font-family: 'Merriweather', serif;
  font-size: 30px;
  background-color: rgba(0,0,0,0.0);
  width: 86%;
  position: absolute;
  top: 17.3%;
  left: 5%;
}
